.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.weather-cards {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.weather-card {
  background-color: white;
  box-shadow: 1px 0px 5px gray;
  padding: 1rem;
  width: 100px;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

}

.weather-card p,
h4 {
  margin: 0;
}